.step-wrap{
  padding: 30px 0 40px;
}
.vlt-edit-single{
  display: flex;
  justify-content: center;
}
.vlt-card {
  padding: 0;
  margin: 10px;
}
.text {
  margin-top: 25px;
  line-height: 30px;
  margin-left: 15px;
}
.el-divider--horizontal {
  margin: 0;
}
.growth {
  line-height: 30px;
  span {
    color: #409eff;
  }
}
.strategy {
  .list {
    padding: 10px;
    display: flex;
    .center{
      padding-left:30px;
      .title{
        line-height: 40px;
      }
      .content{
        padding-top:50px;
        p{
          line-height: 25px;
        }
      }
    }
    .right{
      display: flex;
      align-items: center;
      .right_left{
        margin-left:80px;
      }
      .right_center{
        margin: 0 40px;
      }
      .right_right{
        margin-left:20px;
        color:#409eff;
      }
    }
  }
  .vlt-edit-btn{
    text-align: center;
  }
}
