.el-tabs--left .el-tabs__item.is-left {
  text-align: left;
}
.submit-wrap {
  text-align: right;
  padding: 10px 0;
}
.plan-list .control-bar-comp.align-left {
  display: inline-block;
}
.tips-item {
  height: 32px;
  line-height: 32px;
  background-color: #e6f3fc;
  border: 1px solid #abdcff;
  font-size: 12px;
  color: #515a6e;
  border-radius: 4px;
  padding: 0 10px;
  margin: 10px 0;
}
.tips-item em {
  color: #2d8cf0;
  font-style: normal;
  padding: 0 3px;
}
.tips-item i {
  vertical-align: middle;
  line-height: 33px;
  color: #2d8cf0;
  padding-right: 5px;
  margin-right: 5px;
}
.tips-item span {
  line-height: 32px;
}
.table-wrap {
  padding: 10px;
  text-align: center;
}
.addGoods {
  width: 100%;
  max-width: 490px;
  margin: 10px 0 30px 20px;
}
.delete {
  font-size: 22px;
}
.tr {
  padding: 10px 10px 0;
  text-align: right;
}
.soft-form {
  margin-top: 15px;
}
.upload-dialog .upload-box {
  margin-left: 50px;
}
.upload-dialog .down-template {
  margin-left: 50px;
  margin-bottom: 20px;
  color: #409eff;
  cursor: pointer;
}
